# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore the virtual environment
Include/
Lib/
Scripts/
pyvenv.cfg

# Ignore the database (Django creates this automatically)
db.sqlite3

# Ignore temporary Python files
__pycache__/
*.pyc
