{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'teams/style.css' %}?v=200">
</head>

<body>

<div class="topbar">
    <div class="logo">
    <img src="{% static 'teams/sky-logo.png' %}" alt="Sky Logo"style="height:75px; width:auto; border:3px">
    <p>Engineering Team Directory</p>
</div>
</div>

<div class="layout">

    <div class="sidebar">
        <ul class="nav">
            <li onclick="window.location.href='/teams/'">
                <span class="icon">T</span>Teams
            </li>
            <li onclick="window.location.href='/accounts/logout/'">
                <span class="icon">L</span>Logout
            </li>
        </ul>
    </div>

    <div class="content">

        <h1>Change Password</h1>
        <p class="subtitle">Update your account password</p>

        <div class="card">
            <h3>New Password</h3>

            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}

            
            <form method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}
                <div class="buttons">
                    <button class="btn-primary" type="submit">Change Password</button>
                    <a href="/" class="btn-outline">Cancel</a>
                </div>
            </form>
        </div>

    </div>
</div>

<footer>
    © 2026 LOGOSKY • Privacy • Terms • Contact
</footer>

</body>
</html>